services:
  - type: web
    name: ecommerce-node
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node scripts/init_db.js && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DB_NAME
        fromDatabase:
          name: ecommerce-db
          property: database
      - key: DB_USER
        fromDatabase:
          name: ecommerce-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: ecommerce-db
          property: password
      - key: DB_HOST
        fromDatabase:
          name: ecommerce-db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: ecommerce-db
          property: port
      - key: SESSION_SECRET
        generateValue: true

databases:
  - name: ecommerce-db
    plan: free
    databaseName: mi_ecommerce
    user: postgres
